databases:
  - name: covu-db
    databaseName: covu_db
    user: covu_user
    plan: free
    region: frankfurt

services:
  - type: web
    name: covu-backend
    runtime: python
    region: frankfurt
    plan: free
    branch: master
    buildCommand: "./build.sh"
    startCommand: "gunicorn covu.wsgi:application --bind 0.0.0.0:$PORT"
    envVars:
      - key: PYTHON_VERSION
        value: "3.11"
      - key: DATABASE_URL
        fromDatabase:
          name: covu-db
          property: connectionString
      - key: SECRET_KEY
        generateValue: true
      - key: DEBUG
        value: "False"
      - key: ALLOWED_HOSTS
        value: ".onrender.com"
      - key: PAYSTACK_SECRET_KEY
        sync: false
      - key: PAYSTACK_PUBLIC_KEY
        sync: false
      - key: PAYSTACK_WEBHOOK_SECRET
        sync: false
      - key: EMAIL_HOST_PASSWORD
        sync: false
      - key: CLOUDINARY_API_SECRET
        sync: false
      - key: SENTRY_DSN
        sync: false
